---
import "../styles/global.css";
import srcImage from "../assets/band2.jpg";
import { Image } from "astro:assets";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="" />
		<title>Fishing near Portland, Oregon</title>
	</head>
	<body class="min-h-screen">
		<main class="px-24 max-w-7xl mx-auto w-full max-sm:px-5">
			<h1 class="text-4xl text-teal-900 font-bold my-5">Fishing near Portland, Oregon</h1>
			<p>asd</p>
			<!-- <img src={srcImage.src} alt="Fishing near Portland, Oregon" /> -->
			<Image
				src={srcImage}
				loading="eager"
				alt=""
				quality={"high"}
				/>
		</main>
		
	</body>
</html>
