---
import "../styles/global.css";
import srcImage from "../assets/src.png";
import { Image } from "astro:assets";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="" />
		<title>Fishing near Portland, Oregon</title>
	</head>
	<body class="min-h-screen">
		<main class="px-24 max-w-7xl mx-auto w-full max-sm:px-5">
			<h1 class="text-4xl text-teal-900 font-bold my-5">Fishing near Portland, Oregon</h1>
			<p>asd</p>
			<img src={srcImage.src} alt="" />
			<Image
				src={srcImage}
				loading="eager"
				alt=""
				quality={"high"}
				widths={[240, 540, 720, srcImage.width]}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${srcImage.width}px`}
				/>
		</main>
		
	</body>
</html>
